<% content_for(:title) { "My Dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather-geelong-west" data-view="Weather" data-title="Weather" style="background-color:#18A3FF"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather-melbourne" data-view="Weather" data-title="Weather" style="background-color:#18A3FF"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="internet" data-view="Usage" data-title="Internet" style="background-color:#8718FF"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="server-deathstar" data-view="RemoteImage" data-title="Deathstar" style="background-color:#FF7E18"></div>
    </li>
  </ul>
</div>
