<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather-geelong-west" data-view="Weather" data-title="Weather" style="background-color:#18A3FF"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather-melbourne" data-view="Weather" data-title="Weather" style="background-color:#18A3FF"></div>
    </li>
  </ul>
</div>
